doctype html
html(lang='en')
	head
		script( src='/javascripts/jquery-3.1.1.min.js' )
		script( src='/bootstrap/js/bootstrap.min.js' )
		script( src='/javascripts/bootbox.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/snazzy-info-window-master/dist/snazzy-info-window.min.css", rel="stylesheet")
		link(href="/convoyer/styles.css", rel="stylesheet")
		meta(charset='UTF-8')
		title CONVOYER LIVE MAP
		style.
			#map {
			height: 100%;
			width: 100%;
			}
	body
		#map
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCuuEBG2qsNl6WRWo9093Abz4MEvv3QayU')
		script(src='/snazzy-info-window-master/dist/snazzy-info-window.min.js')
		script(src='/javascripts/socketio/2.0.4/socket.io.js')
		script(src='/convoyer/convoyerMapScript.js')
		script(src='/convoyer/locationIsAccurate.js')
		script.
				var mapElement = document.getElementById('map');
				var guards = !{ JSON.stringify(getAllGuardsResult) };		
				var locations = !{ JSON.stringify(getCurrentLocationsResult) };
				var incidents = !{ JSON.stringify(getAllIncidentsResult) };
				var coords = !{ JSON.stringify(getCurrentCoordsResult) };
				var patrols = !{ JSON.stringify(getCurrentPatrolsResult) }; 
				var area = !{ JSON.stringify(getCurrentAreaResult) }; 
				initMap();
																				


