include mixins
doctype
html
	head
		title Command Center 5.0
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/popper.js' )
		script( src='/bootstrap/js/bootstrap.min.js' )
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')

	body(style="padding-bottom:10rem;")
		.container   
			block content

				include navbar
						
				h3 Create Invite List
				br
				
				div
				.row
					.col-md-10.col-sm-12.col-xs-12.col-md-offset-1				
						table#addTable.table.table-hover.table-striped.table-bordered(data-toggle="table" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]")
							thead
								tr.warning
									th#headerCheckBoxAdded(data-field="state" data-checkbox="true" data-sortable= "true")
									th
									th(data-sortable= "true") Last Name
									th(data-sortable= "true") First Name
									th(data-sortable= "true") Cardnumber
									th(data-sortable= "true") Employee Id
									th(data-sortable= "true") Email
									th(data-sortable= "true") Title
									th(data-sortable= "true") Image File
							tbody
								-each result in results
										tr
											td(id=result.EmpID )
											td
												a(href="/badgeDetail/#{result.iClassNumber}") Badge Detail
											td=result.LastName
											td=result.FirstName
											td=result.iClassNumber
											td=result.EmpID
											td=result.EmailAddr
											td=result.Title
											td=result.imageName
				.row
					.col-md-4.col-sm-12.col-xs-12.col-md-offset-4
						#addButton
								a.btn.btn-default.btn-block
									i.fa.fa-plus(aria-hidden='true')
									| &nbsp Add To List
				br
				br								
				div
				.row
					.col-md-10.col-sm-12.col-xs-12.col-md-offset-1		
						table#removeTable.table.table-hover.table-striped.table-bordered(data-toggle="table" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]")
							thead
								tr.warning
									th#headerCheckBoxAdded(data-field="state" data-checkbox="true" data-sortable= "true")
									th
									th(data-sortable= "true") Last Name
									th(data-sortable= "true") First Name
									th(data-sortable= "true") Cardnumber
									th(data-sortable= "true") Employee Id
									th(data-sortable= "true") Email
									th(data-sortable= "true") Title
									th(data-sortable= "true") Image File
							tbody
				br
				.row
					.col-md-4.col-sm-12.col-xs-12.col-md-offset-4
						#removeButton
								a.btn.btn-default.btn-block
									i.fa.fa-minus(aria-hidden='true')
									| &nbsp Remove From List
				div
				br
				br
				br
				br
				.row
					.col-md-4.col-sm-12.col-xs-12.col-md-offset-4
						#backButton
								a.btn.btn-default.btn-block
									i.fa.fa-check(aria-hidden='true')
									| &nbsp Create
					script(src='/create-invite-lists/CreateInviteListScript.js')
					script.
						var results = !{ JSON.stringify(results) };
						loadScripts();
						$(function () {
							$('#addTable').on('check.bs.table', function(row, $element)
							{
								console.log(row);
								console.log($element);
								$('#removeTable tbody').append('<tr class="child"><td></td><td></td><td>LastName</td><td>FirstName</td><td>Cardnumber</td><td>Employee Id</td><td>Email</td><td>Title</td><td>Image Title</td></tr>');							
							});
							$('#addTable').on('uncheck.bs.table', function()
							{
								//- alert('unchecked');                      
							});
							$('#addTable').on('check-all.bs.table', function()
							{
								//- alert('all checked');                      
							});
							$('#addTable').on('uncheck-all.bs.table', function()
							{
								//- alert('all unchecked');                      
							});
						});						
									