include mixins
doctype
html
	head
		title Command Center 5.0
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/bootstrap-new/js/bootstrap.min.js' )
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		

		block content   

			include navbar
					
			h3 Create Invite List
			br
			
			div
				table#pickle.table.table-hover.table-striped.table-bordered(data-toggle="table"  data-toolbar="#toolbar" data-search="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]" data-side-pagination="server")
					thead
						tr.warning
							th 
								#checkallbox
									input.form-check-input(type='checkbox' value ='')
							th
							th Last Name
							th First Name
							th Cardnumber
							th Employee Id
							th Email
							th Title
							th Image File
					tbody
						-each result in results
								tr
									td
											input.form-check-input(type='checkbox' value=result.EmpID id=result.EmpID )
									td
										a(href="/badgeDetail/#{result.iClassNumber}") Badge Detail
									td=result.LastName
									td=result.FirstName
									td=result.iClassNumber
									td=result.EmpID
									td=result.EmailAddr
									td=result.Title
									td=result.imageName
				script(src='/javascripts/createInviteList.js')
				script.
					var results = !{ JSON.stringify(results) };
					loadScripts();
								