doctype html
html(lang='en')
	head
		script( src='/javascripts/bootbox.min.js' )
		meta(charset='UTF-8')
		title FOXMAP
		style.
			#map {
			height: 100%;
			}
			html, body {
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			}
	body
		#map
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCuuEBG2qsNl6WRWo9093Abz4MEvv3QayU')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')		
		script(src='/javascripts/guardpatrol/configureMap.js')
		script(src='/javascripts/guardpatrol/locationIsAccurate.js')
		script.
				var mapElement = document.getElementById('map');
				var guards = !{ JSON.stringify(getAllGuardsResult) };		
				var locations = !{ JSON.stringify(getCurrentLocationsResult) };
				var incidents = !{ JSON.stringify(getAllIncidentsResult) };
				var coords = !{ JSON.stringify(getCurrentCoordsResult) };
				var patrols = !{ JSON.stringify(getCurrentPatrolsResult) }; 
				initMap();
																				


