object#map(data='/map.html', width='100%', height='480px', type='text/html')
script.
		var mapElement = document.getElementById('map');
		var guards = !{ JSON.stringify(getAllGuardsResult) };
		var locations = !{ JSON.stringify(getCurrentLocationsResult) };
		var incidents = !{ JSON.stringify(getAllIncidentsResult) };
		var coords = !{ JSON.stringify(getCurrentCoordsResult) };
		var patrols = !{ JSON.stringify(getCurrentPatrolsResult) }; 
																				


