include mixins
extends layout
block content   
            include navbar
            

            head
                style.
                  #map {
                  height: 500px;
                  width: 100%;
                  }
            .row
              .col-md-2.col-sm-2.col-xs-12
                .row
                      .panel.panel-info
                        .panel-heading
                          h3.panel-title Guards       
                        div
                            table#pickle.table.table-hover.table-striped.table-bordered
                                thead
                                    tr.info
                                        th First Name
                                        th Last Name
                                tbody
                                -each guard in getAllGuardsResult
                                    tr.info
                                        td=guard.FirstName
                                        td=guard.LastName
                  .row
                      .panel.panel-danger
                        .panel-heading
                          h3.panel-title Incidents       
                        div
                            table#pickle.table.table-hover.table-striped.table-bordered
                                thead
                                tbody
                                -each incident in getAllIncidentsResult
                                    tr.danger
                                        td=incident.Type  
                  br
                  .row
                      #removeCheckpointButton
                          a.btn.btn-default.btn-block
                           i.fa.fa-eraser(aria-hidden='true')
                           | &nbsp Remove Checkpoint
                  .row
                      #saveRouteButton
                          a.btn.btn-default.btn-block
                           i.fa.fa-floppy-o(aria-hidden='true')
                           | &nbsp Save Route
                  .row
                      #loadRouteButton
                          a.btn.btn-default.btn-block
                           i.fa.fa-cloud-download(aria-hidden='true')
                           | &nbsp Load Route                                                     
              .col-md-10.col-sm-10.col-xs-12              
                  #map

                  script(src='/javascripts/guardpatrol/configureMap.js')
                  script.
                    var mapElement = document.getElementById('map');
                    var guards = !{ JSON.stringify(getAllGuardsResult) };
                    var locations = !{ JSON.stringify(getCurrentLocationsResult) };
                    var incidents = !{ JSON.stringify(getAllIncidentsResult) };
                    var coords = !{ JSON.stringify(getCurrentCoordsResult) };
                    var patrols = !{ JSON.stringify(getCurrentPatrolsResult) }; 
                    initMap();


