include mixins
extends layout
block content   

            include navbar

            h3 Command Center Users
            br

            div
                table#pickle.table.table-hover.table-striped.table-bordered
                    thead
                        tr.primary 
                            th
                            th Username
                            th Contact First Name
                            th Contact Last Name
                            th Contact Email
                            th Client ID
                            th Status
                            th Privilege
                            th Updated
                    tbody
                        -each result in results
                            tr
                                    td
                                        a(href="/userModify/#{result.UserName}")  Edit |
                                        a(href="/userDelete/#{result.UserName}")  Delete  
                                    td=result.ClientUsername
                                    td=result.ContactLastName
                                    td=result.ContactFirstName
                                    td=result.ContactEmail
                                    td=result.ClientID
                                    td=result.Status
                                    td=result.PrivLevel
                                    td=result.UpdateTime

                script.
                    $(document).ready(function() {
                    $('#pickle').DataTable();
                    });
                script.
                    $(document).ready(function() {
                    $('#pickle tr').click(function() {
                    var href = $(this).find("a").attr("href");
                        if(href) {
                            window.location = href;
                        }
                    });
                    });
           