include mixins
extends layout
block content   

            include navbar

            h3 All card-scan events
            br

            div
                table#pickle.table.table-hover.table-striped.table-bordered
                    thead
                        tr.danger  
                            th
                            th Employee ID
                            th Badge ID
                            th Scan Date/Time
                            th Contractor
                            th Device ID
                            
                    tbody
                        -each result in results
                            tr
                                    td
                                        a(href="/verifyCheck/#{result.BadgeID}") All for Badge  
                                        br
                                    td=result.EmpID
                                    td=result.BadgeID
                                    td=result.ScanDateTime
                                    td=result.Contractor
                                    td=result.MobSSOperator

                script.
                    $(document).ready(function() {
                    $('#pickle').DataTable();
                    });
                script.
                    $(document).ready(function() {
                    $('#pickle tr').click(function() {
                    var href = $(this).find("a").attr("href");
                        if(href) {
                            window.location = href;
                        }
                    });
                    });
           